<%- include ../partials/header.ejs %>

<h1>Hello!</h1>

<h2>Let's create or review your To Do List...</h2>

<a href="/todo-list">
  <input type="submit" name="to-do-list-review" value="Get To Dos">
</a>

<%- include ../partials/footer.ejs %>
