<%- include ../partials/header.ejs %>

<h1>Sign Up</h1>

<form class="sign-in-form" action="" method="POST">

  <label for="full_name">Name:</label>
  <input type="text" name="full_name" placeholder="Please enter your full name" required>

  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Please enter your email" required>

  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Pleae enter a password" required>

  <input type="submit" name="sign-up-submit-button" value="Sign Up">

</form>


<%- include ../partials/footer.ejs %>
