<%- include ../partials/header.ejs %>

<h1>Sign Up</h1>

<form class="sign-in-form" action="/signup" method="POST">

  <label for="full_name">Name:</label>
  <input type="text" name="full_name" required>

  <label for="email">Email</label>
  <input type="email" name="email" required>

  <label for="password">Password:</label>
  <input type="password" name="password" required>

  <input type="submit" name="sign-up-submit-button" value="Sign Up">
  <p>Already a user? Please <a href="/signin">Sign In</a>.</p>

</form>


<%- include ../partials/footer.ejs %>
